scikit-learn==2.2.0
pytube==15.0.0
faster-whisper==0.6.0
https://github.com/pyannote/pyannote-audio/archive/refs/heads/develop.zip
transformers==4.30.2
bitsandbytes==0.39.0
accelerate==0.20.3
loralib==0.1.1
git+https://github.com/huggingface/peft.git
guidance==0.0.63
